{% extends 'base.html' %} 

{% block content %}

<style>
    .equal-width-cols {
        width: 33.33%;
    }
    body {
        background-color: #16191c;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">
                        Add New Card
                    </h1>
                    <form method="POST">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td class="equal-width-cols">{{ form.name.label_tag }}</td>
                                <td class="equal-width-cols">{{ form.name }}</td>
                            </tr>
                            <tr>
                                <td class="equal-width-cols">{{ form.price.label_tag }}</td>
                                <td class="equal-width-cols">{{ form.price }}</td>
                            </tr>
                            <tr>
                                <td class="equal-width-cols">{{ form.description.label_tag }}</td>
                                <td class="equal-width-cols">{{ form.description }}</td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Add"/>
                        </div>
                    </form>

                    {% if messages %}
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="list-group-item">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="text-center mt-3">
                        <button type="button" class="custom-btn5" onclick="history.back()">Kembali</button>
                        <style>
                            .custom-btn5 {
                                background-color: green;
                                color: white;
                                border: none;
                                border-radius: 5px;
                                padding: 7px 20px; 
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}